
.loginbutton:hover{
    -fx-background-color: linear-gradient(#818581, #a5ada5);
}
.loginbutton:pressed{
    -fx-background-color: #a5ada5;
}

.mainlogin{
    -fx-background-color: #0949b8;
}
.mainlogin:hover{
    -fx-background-color: linear-gradient(#3acde0, #207be3);

}
.mainlogin:pressed{
    -fx-background-color: linear-gradient(#427feb,#0949b8);
}
