* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}
.root{
    -fx-background-color: black;
}


.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}


.list-view {
    -fx-background-radius: 15;
    -fx-padding: 5;
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.list-view .list-cell {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-control-inner-background: rgba(0, 0, 0, 0.1);
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: Transparent;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

.button:hover{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: #454745;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}